@charset "utf-8";
/* CSS Document */

/*
This theme is based extensively on the css Zen Garden submission 123 - 'Skyroots'
by Axel Hebenstreit, http://www.sonnenvogel.com/ 
 
The current incarnation was ported over by Ekendra Dasa - http://www.gopala.org/ - please make him feel loved by dropping a line on his blog. He spent his entire Sunday fiddling with the CSS for you.
 
 Photoshop files are zipped in the 'images' folder so you can customize.
 
 Please leave this message intact!
 
 ::: go-run-gaa-!! :::
 
 */

/* Basic Elements */
html, body {
	color: white;
	font: 11px/16px "trebuchet ms", arial, helvetica, sans;
	background: #3a200a url(images/bg.gif) repeat-y center top;
	text-align: center;
	margin: 0;
	padding: 0;
}

p {
	font: 11px/16px "trebuchet ms", arial, helvetica, sans;
	text-align: justify;
	letter-spacing: 1px;
	margin: 0 0 0;
	padding: 0 22px 15px;
}

a {
	color: #ffae00;
	text-decoration: none;
}
a:hover {
	color: #feffff;
	text-decoration: underline;
}
h1 {
	color: #ffae00;
}
h2 {
	color: #ffae00;
}
h3 {
	margin-top:10px;
	padding: 0;
}
/* ---------------------------------------------------------------------- */

.clear-block {
	background: #411948 url(images/ribbon.gif) repeat-y;
	display: block;
	margin: 0px auto;
	padding: 0;
	position: relative;
	width: 770px;
}
.admin {
	position: relative;
	width: 770px;
	margin: 0px 10px 10px 10px;
}
#page{
 
 }
#header{
	background: url(images/top.jpg) no-repeat 0 0;
	text-indent: -2000px;
	text-align:center;
	margin: -15px auto;
	padding: 0;
	height: 366px;
}
#tagline {

}
#breadcrumb {
	position: relative;
	left: -108px;
}
/* ---------------------------------------------------------------------- */

#mission {
 	position: relative;
	width: 370px;
	height:35px;
	left: 0px;
}

/* ---------------------------------------------------------------------- */

#left-margin {
	position: absolute;
	top: 370px;
	left: 82px;
	margin: 40px, 5px, 40px,5px;
	width: 229px;
	overflow: hidden;
}
#main_menu_top {
	background: url(images/menu_bloom_top.gif) no-repeat left top;
	position: relative;
	height:69px;
	margin-bottom:-11px;
}
#main_menu {
	position: relative;
	text-align: left;
	left: 38px;
	width: 229px;
	background: #55012b url(images/menu_bloom.gif) no-repeat left bottom;
	padding-bottom:90px;
}

.main-links li {
	margin-bottom:15px;
	font-size:18px;
}
.main-links li .active {
	color:#FFFFFF;
}

#secondary_menu {

}

/* ---------------------------------------------------------------------- */

#blocktop {
	background: url(images/block_bloom_top.gif) no-repeat left top;
	position: relative;
	margin-top:34px;
	margin-bottom:-13px;
	height:72px;
}
#block {
	text-align: left;
	position: relative;
	left: 38px;
	width: 229px;
	background: #b99ab8 url(images/block_bloom.gif) no-repeat left bottom;
	padding-bottom: 35px;
}
.block-title {
	color: #411948;
	margin-top:9px;
	margin-left:10px;
}
.menu {
	margin-left:10px;
	width:220px;
}
#block a {
	color: #411948;
}
#block li {
	color: #411948;
}
	

/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */

#wrapper {
	text-align: left;
	position: relative;
	width: 370px;
	margin-left:356px;
	margin-right:50px;
}
#subwrapper {
}
#node-top {
	background: #59365f url(images/container-top.gif) no-repeat;
	position: relative;
	width: 370px;
	height:35px;
}
#node {
	background-color: #59365f;
}
#node-bottom {
	background: #59365f url(images/footer_bg.gif) no-repeat;
	position: relative;
	width: 370px;
	height:60px;
}
#content-top {
}
#content {
	position: relative;
	background-color: #411948;
	margin-top:10px;
	margin-bottom:50px;
}

/* ---------------------------------------------------------------------- */

.title {
	position:relative;
	margin-top:0px;
	margin-left:10px;
	color: #ffae00;
	text-decoration: none;
	line-height: normal;
}
.submitted {
	position:relative;
	margin-left:10px;
}
.taxonomy {
	position:relative;
	margin-left:10px;
	margin-bottom:10px;
}
#tabs {

}
#main-supplements {

}
#secondary-supplements {

}

/* ---------------------------------------------------------------------- */
#commentTop {
	background-color:#b99ab8;
	height:20px;
}
#commentLevel1 {
	background-color:#b99ab8;
	color:#411948;
}
#commentLevel1 a {
	color:#411948;
	text-decoration:overline;
	padding-bottom:10px;
	margin-bottom:10px;
	margin-left:10px;
}
#commentLevel1 p {
	color:#411948;
	padding-bottom:10px;
	margin-bottom:10px;
	margin-left:10px;
}
.comment-submitted {
	position:relative;
	margin-left:10px;
	color:#411948;
}
.new {
	color:#ffae00;
	margin-left:20px;
	margin-bottom:10px;
	background-color: #411948;
}
#commentBottom {
	background-color:#411948;
	height:20px;
}

/* ---------------------------------------------------------------------- */

.pager {
	position:relative;
	height:50px;
	width:600px;
	left:-200px;
	text-align:center;
}
.pager ul {
	padding:0;
}
.pager li a {
	font-size: 12px;
	color: #411948;
	background-color: #b99ab8;
	border: thin solid #411948;
	padding: 3px;
	font-weight: bold;	
	margin-right:-10px;
}
.pager li a:hover {
	color: #b99ab8;
	background-color: #411948;
	border: thin solid #b99ab8;
	text-decoration:none;
}
/* ---------------------------------------------------------------------- */

#footer {
	padding: 20px 0 60px 22px;
	text-align:center;
}
/* ---------------------------------------------------------------------- */


.name a {
	color: #411948;
	font-weight: bold;	
	margin-left: 10px;
}


/* ---------------------------------------------------------------------- */

.block {
	color:#000000;
}
.block-region {
	color:#000000;
}
.odd {
	color:#000000;
	background-color:#FFFFFF;
}
.even {
	color:#000000;
	background-color:#CCCCCC;
}

.tabs a {
	color:#330033;
}
#user-login-form {
	margin-left:-40px;
}
legend {
	color:#FFFFFF;
}
.forum-topic-navigation {
	background-image:none;
	width: 370px;
}